@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
body{
    font-family: 'Kalam', cursive;
    margin: 0;
    padding: 0 ;
}
#linktext{
    color: aliceblue;
}

main{
    font-family: 'Kalam', cursive;
    background-color: navajowhite;
    padding: 16px;
}

footer{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: aquamarine;
}
img{

    height: 200px;
}
nav{

    background-color: tomato;
    border-bottom: 1px black;
    padding: 16px;
}

.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

a{
    text-decoration: none;
    color: darkgreen;
}
h1{
    color: darkolivegreen;
}

 .ingridients tr:nth-child(even){
    background-color: lightgray;
}


